*{
  box-sizing: border-box;
}

.banner{
  background-color: #e6ebe0;
  background: url("../images/tile3.jpg");
  background-size: contain;
  opacity: 0.85;
  margin: 0;
  height: 15rem;
  margin-top: -1px;
  position: relative;
}

#homeh1{
  background-color: #5ca4a9;
  color: white;
  display: inline-block;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 3rem;
  font-weight: 800;
  border-radius: 10px;
  padding: 5px 0;
}

#homeh2{
  background-color: #ed6a5a;
  width:75%;
  margin-left: 12.5%;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px 0;
}

section{
  padding: 0 5%;
}

.homeh3{
  display: inline-block;
  line-height: 2rem;
  height: 2rem;
  margin-left: 3%;
  padding-left: 10%;
}

.homeh3::before{
  content: " ";
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  border: solid #ed6a5a 4px;
  border-radius: 2rem;
}

.home-p{
  display: block;
  text-align: justify;
}

img{
  margin-top: 5%;
  width: 100%;
  padding: 3%;
  max-width: 600px;
}

@media screen and (min-width: 650px){
  #homeh1{
    width: 50%;
    margin-left: 25%;
    margin-top: 3rem;
    padding: 5px 0;
  }

  #homeh2{
    width:60%;
    margin-left: 20%;
    padding: 5px 0;
  }

  div.text{
    display: table;
    width: 100%;
  }

  div.row{
    display: table-row;
  }

  #pg1, #pg2{
    display: table-cell;
    padding: 0 3%;
    width: 46%;
  }

  .pic{
    margin: 0 auto;
    width: 700px;
  }

  img{
    margin-left: 50px;
  }
